# 强制 npm 在安装依赖时忽略某些不适合进行 Hoisting（提升）的情况，统一采用 Hoisting 方式，可能绕过一些问题但潜在地引入其他兼容性问题。
shamefully-hoist = true  
#  在 npm 安装依赖时，自动安装其所需的 peerDependencies（同等依赖），简化依赖管理，但需要注意可能会引起版本冲突。
auto-install-peers=true